body {
font-family: Arial, Helvetica, sans-serif;
padding: 20px;
background-color: white;
}

button{
    padding: 10px 15px;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    
}