* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.botones {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    text-align: left;
}

.btn {
    background-color: #4a0c63; /* Color*/
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Efecto hover para los botones */
.btn:hover {
    background-color: #df99d5;
    transform: scale(1.05);
}

.botones button {
    width: 100%;
}

/* Añadir algo de separación entre los botones */
.botones button:not(:last-child) {
    margin-bottom: 15px;
}

