*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #fef6ec;
}

.header{
    background-color: #2f4a63;
    color: white;
    text-align: center;
    padding: 30px 20px;
}

.container{
    background: white;
    margin: 20px auto;
    max-width: 900px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.intro{
    background-color: #e3711e;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.bloques{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.bloque{
    flex: 1;
    background-color: #d14900;
    color: white;
    padding: 15px;
    border-radius: 6px;
    min-width: 250px;
    text-align: center;
}
